{% extends 'base.html' %}

{% block body %}

<div class="sub-visual" style="background: url('{{ url_for('static', filename='images/sub_vis_manufacturing.jpg') }}') no-repeat center center; background-size: cover;">
    <div class="main-section">
        <h2 class="text-light font-main fade-up">GAS Equipment</h2>
        <p class="text-light font-main fade-up">Anywhere, anytime</p>
    </div>
</div>

<div class="sub-cont-header d-flex justify-content-center" style="padding-top: 80px; padding-bottom: 40px;">
    <h2 class="fade-left manufacturing-list-header-text" style="">
        <span class="before fadeUpRight" style="left: 55%; bottom: 50px; width: 31px; height: 31px; display:block; position: absolute; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); background: url('{{ url_for('static', filename='images/tit_deco_lc.png') }}') no-repeat center center; background-size: cover;"></span>
        LPG VAPORIZER (KEV Series)
        <span class="after fadeDownLeft" style="left: 35%; top: 60px; width: 31px; height: 31px; display:block; position: absolute; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); background: url('{{ url_for('static', filename='images/tit_deco_lc.png') }}') no-repeat center center; background-size: cover;"></span>
    </h2>
</div>

<div class="product-description-section">
    <h3 class="sub_depth_tit bb-line ">LPG VAPORIZER (KEV Series)
        <p>Electric Heated and Water Bath Type </p>
    </h3>
      <img class="fit-img" src="{{ url_for('static', filename='images/img_kev-series_1.jpg') }}" alt="LPG VAPORIZER (KEV Series)">
      <div class="pro-spec-item">
        <h4 class="pro-spec-tit">FEATURES</h4>
        <ul class="ul-spec-list">
          <li>Electric heating with water bath type(Heating medium: water / Heat source: electric heater)</li>
          <li>Design pressure : 1.77MPa(17.7bar)</li>
          <li>Explosion proof : Class I, Division 1, Group D &amp; Ex d IIB T4</li>
          <li>Electric power : 220V 1P 50/60Hz, 220V 3P 50/60Hz, 380V 3P 50/60Hz, Etc</li>
          <li>High quality and long-life electric heater</li>
          <li>Safety devices
            <ul class="ul-dep-list">
              <li>Prevention of liquid LPG overflow with reset by mechanical float</li>
              <li>LPG Pressure safety valve : 1.76MPa(17.6bar)</li>
              <li>Overheat protection by water thermal switch</li>
              <li>Low water cut-off for heater by water level switch</li>
            </ul>
          </li>
          <li>Water temperature &amp; Level gauge</li>
          <li>LPG Temperature &amp; Pressure gauge</li>
          <li>Power status lamp to check power on-off condition</li>
          <li>Electric power connections both the left side and right</li>
        </ul>
      </div>
      <div class="pro-spec-item mt40">
        <h4 class="pro-spec-tit">OPTIONS</h4>
        <ul class="ul-spec-list">
          <li>Additional device for liquid LPG overflow prevention by solenoid valve and water thermal switch
            <ul class="ul-dep-list">
              <li>In case of electric power outage and water low temperature</li>
            </ul>
          </li>
          <li>Control panel to check condition of vaporizer in the office</li>
          <li>Explosion proof type lamp for solenoid valves open-close</li>
          <li>Explosion proof type lamp for electric heaters on</li>
          <li>Explosion proof type Emergency lamp for water high temperature</li>
          <li>Explosion proof type selector switch for Vaporizer on-off</li>
          <li>Stainless steel heating coil</li>
          <li>Additional device for liquid LPG overflow prevention by LPG level LPG level switch</li>
        </ul>
      </div>
      <div class="pro-spec-item mt40">
        <h4 class="pro-spec-tit">APPEARANCE</h4>
        <img class="fit-img" src="{{ url_for('static', filename='images/img_kev-series_2.jpg') }}" alt="LPG VAPORIZER (KEV Series)">
      </div>
      <div class="pro-spec-item">
        <h4 class="pro-spec-tit">SPECIFICATION</h4>
        <div class="kg-table overflow-table">
<!--          <div class="scroll_msg aos-init" data-aos="hide">Left/Right Scroll</div>-->
          <table>
            <colgroup>
              <col width="95px">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
              <col width="8.3%">
            </colgroup>
            <thead>
              <tr>
                <th rowspan="2">MODEL NO.</th>
                <th rowspan="2">CAPACITY<br>
                  (kg/hr)</th>
                <th rowspan="2">HEATER<br>
                  (kw/hr)
                </th>
                <th colspan="7">DIMENSIONS (mm)</th>
                <th rowspan="2">INLET<br>
                  SIZE</th>
                <th rowspan="2">OUTLET<br>
                  SIZE
                </th>
              </tr>
              <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>KEV-030 </th>
                <td>30 </td>
                <td>4.5 </td>
                <td>890</td>
                <td>1055</td>
                <td>1150</td>
                <td>470</td>
                <td>435</td>
                <td>670</td>
                <td>150</td>
                <td>20A(3/4")</td>
                <td>20A(3/4")</td>
              </tr>
              <tr>
                <th>KEV-050</th>
                <td>50</td>
                <td>7.5</td>
                <td>890</td>
                <td>1055</td>
                <td>1150</td>
                <td>470</td>
                <td>435</td>
                <td>670</td>
                <td>150</td>
                <td>20A(3/4")</td>
                <td>20A(3/4")</td>
              </tr>
              <tr>
                <th>KEV-100</th>
                <td>100</td>
                <td>15</td>
                <td>1040</td>
                <td>1205</td>
                <td>1300</td>
                <td>470</td>
                <td>435</td>
                <td>670</td>
                <td>150</td>
                <td>20A(3/4")</td>
                <td>25A(1")</td>
              </tr>
              <tr>
                <th>KEV-150</th>
                <td>150</td>
                <td>22.5</td>
                <td>1040</td>
                <td>1220</td>
                <td>1320</td>
                <td>530</td>
                <td>495</td>
                <td>730</td>
                <td>180</td>
                <td>20A(3/4")</td>
                <td>25A(1")</td>
              </tr>
              <tr>
                <th>KEV-200</th>
                <td>200</td>
                <td>30</td>
                <td>1030</td>
                <td>1210</td>
                <td>1310</td>
                <td>670</td>
                <td>635</td>
                <td>880</td>
                <td>180</td>
                <td>20A(3/4")</td>
                <td>25A(1")</td>
              </tr>
              <tr>
                <th>KEV-300</th>
                <td>300</td>
                <td>22.5x2</td>
                <td>1180</td>
                <td>1360</td>
                <td>1460</td>
                <td>610</td>
                <td>575</td>
                <td>810</td>
                <td>180</td>
                <td>20A(3/4")</td>
                <td>25A(1")</td>
              </tr>
              <tr>
                <th>KEV-400</th>
                <td>400</td>
                <td>30x2</td>
                <td>1100</td>
                <td>1300</td>
                <td>1400</td>
                <td>730</td>
                <td>695</td>
                <td>985</td>
                <td>240</td>
                <td>25A(1")</td>
                <td>50A(2")</td>
              </tr>
              <tr>
                <th>KEV-500</th>
                <td> 500</td>
                <td>25x3</td>
                <td>1200</td>
                <td>1400</td>
                <td>1505</td>
                <td>730</td>
                <td>695</td>
                <td>985</td>
                <td>240</td>
                <td>25A(1")</td>
                <td>50A(2")</td>
              </tr>
              <tr>
                <th>KEV-600</th>
                <td>600</td>
                <td>30x3</td>
                <td>1300</td>
                <td>1500</td>
                <td>1605</td>
                <td>790</td>
                <td>755</td>
                <td>1040</td>
                <td>240</td>
                <td>25A(1")</td>
                <td>50A(2")</td>
              </tr>
              <tr>
                <th>KEV-700</th>
                <td>700</td>
                <td>35x3</td>
                <td>1300</td>
                <td>1500</td>
                <td>1605</td>
                <td>950</td>
                <td>900</td>
                <td>1245</td>
                <td>312.5</td>
                <td>25A(1")</td>
                <td>50A(2")</td>
              </tr>
              <tr>
                <th>KEV-800</th>
                <td>800</td>
                <td>40x3</td>
                <td>1360</td>
                <td>1560</td>
                <td>1665</td>
                <td>950</td>
                <td>900</td>
                <td>1245</td>
                <td>312.5</td>
                <td>25A(1")</td>
                <td>50A(2")</td>
              </tr>
              <tr>
                <th>KEV-900</th>
                <td>900</td>
                <td>45x3</td>
                <td>1430</td>
                <td>1630</td>
                <td>1760</td>
                <td>1065</td>
                <td>1015</td>
                <td>1375</td>
                <td>345</td>
                <td>40A(1 1/2")</td>
                <td>80A(3")</td>
              </tr>
              <tr>
                <th>KEV-1000</th>
                <td>1000</td>
                <td>50x3</td>
                <td>1500</td>
                <td>1700</td>
                <td>1830</td>
                <td>1065</td>
                <td>1015</td>
                <td>1375</td>
                <td>345</td>
                <td>40A(1 1/2")</td>
                <td>80A(3")</td>
              </tr>
              <tr>
                <th>KEV-1100</th>
                <td>1100</td>
                <td>55x3</td>
                <td>1600</td>
                <td>1800</td>
                <td>1930</td>
                <td>1250</td>
                <td>1200</td>
                <td>1570</td>
                <td>345</td>
                <td>40A(1 1/2")</td>
                <td>80A(3")</td>
              </tr>
              <tr>
                <th>KEV-1200</th>
                <td>1200</td>
                <td>60x3</td>
                <td>1650</td>
                <td>1850</td>
                <td>1930</td>
                <td>1250</td>
                <td>1200</td>
                <td>1570</td>
                <td>345</td>
                <td>40A(1 1/2")</td>
                <td>80A(3")</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="pro-spec-item mt40">
        <h4 class="pro-spec-tit">WEIGHT(KG)</h4>
        <div class="kg-table overflow-table">
<!--          <div class="scroll_msg aos-init" data-aos="hide">Left/Right Scroll</div>-->
          <table>
            <colgroup>
              <col width="95px">
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>MODEL NO.</th>
                <th>KEV-030</th>
                <th>KEV-050</th>
                <th>KEV-100</th>
                <th>KEV-150</th>
                <th>KEV-200</th>
                <th>KEV-300</th>
                <th>KEV-400</th>
                <th>KEV-500</th>
                <th>KEV-600</th>
                <th>KEV-700</th>
                <th>KEV-800</th>
                <th>KEV-900</th>
                <th>KEV-1000</th>
                <th>KEV-1100</th>
                <th>KEV-1200</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Empty</th>
                <td>95</td>
                <td>100</td>
                <td>126</td>
                <td>160</td>
                <td>206</td>
                <td>232</td>
                <td>310</td>
                <td>370</td>
                <td>450</td>
                <td>600</td>
                <td>650</td>
                <td>755</td>
                <td>790</td>
                <td>930</td>
                <td>980</td>
              </tr>
              <tr>
                <th>Operation</th>
                <td>168.5</td>
                <td>168.5</td>
                <td>212</td>
                <td>274</td>
                <td>406</td>
                <td>410</td>
                <td>550</td>
                <td>635</td>
                <td>825</td>
                <td>1090</td>
                <td>1170</td>
                <td>1470</td>
                <td>1545</td>
                <td>2115</td>
                <td>2225</td>
              </tr>
              <tr>
                <th>Full</th>
                <td>172.5</td>
                <td>172.5</td>
                <td>216</td>
                <td>280</td>
                <td>415</td>
                <td>417</td>
                <td>565</td>
                <td>650</td>
                <td>837</td>
                <td>1107</td>
                <td>1187</td>
                <td>1492</td>
                <td>1567</td>
                <td>2137</td>
                <td>2256</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

{% endblock %}